@model ArticleListDto
@{
    ViewData["Title"] = "GetArticlesByCategoryId";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mt-5 container">
    <h2>Kategori Adı : @Model.Category.Name</h2>
</div>


<section class="blog-posts">

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        @foreach (var article in Model.Articles)
                        {
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="~/templatemo/assets/images/blog-post-01.jpg" alt="">
                                    </div>
                                    <div class="down-content">
                                        @* <span>Lifestyle</span> *@
                                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@article.Id"><h4>@article.Title</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">@article.CreatedBy</a></li>
                                            <li><a href="#">@article.CreatedDate.ToShortDateString()</a></li>
                                            <li> <i class="fa-solid fa-eye"></i> @article.ViewCount</li>
                                        </ul>
                                        <p>
                                            @(article.Content.Length > 250 ? (article.Content.Substring(0, 250) + "...") : article.Content)
                                        </p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li>  <a href="#"><i class="fa fa-tags"></i> @article.Category.Name </a></li>

                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li>  <a asp-controller="Home" asp-action="Detail" asp-route-id="@article.Id"><i class="fa fa-link"></i> Devamını Oku </a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="col-lg-12">


                            <ul class="pagination justify-content-center mb-4 mt-4 brn-block">
                                @if (Model.isPrevious)
                                {
                                    <li class="page-item">
                                        <!--Bir önceki sayfaya dön-->
                                        <a class="page-link" asp-route-categoryId="@Model.CategoryId" asp-route-currentPage="@(Model.CurrentPage-1)" asp-route-pageSize="@Model.PageSize">Önceki</a>
                                    </li>
                                }
                                @for (int i = 1; i <= Model.TotalPages; i++)
                                {
                                    <li class="page-item @(i==Model.CurrentPage ?"active":"")">
                                        <!--Bir önceki sayfaya dön-->
                                        <a class="page-link" asp-route-categoryId="@Model.CategoryId" asp-route-currentPage="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                                    </li>
                                }

                                @if (Model.isNext)
                                {
                                    <li class="page-item">
                                        <!--Bir sonraki sayfaya git-->
                                        <a class="page-link" asp-route-categoryId="@Model.CategoryId" asp-route-currentPage="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize">Sonraki</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" asp-controller="Home" asp-action="Index" method="get">
                                    <input type="text" name="keyword" class="searchText" placeholder="Aranacak Kelimeyi Giriniz" autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            @await Component.InvokeAsync("RecentPost")

                        </div>

                        @await Component.InvokeAsync("Categories")

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

